@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+SC:wght@100;300;500;700;900&family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap');


:root {
  --primary-color: #0d930d;
  --app-padding: 12px;
  --text-body-color: #000;
  --text-title-color: #000;
  --g-color-1: #ffffff;
  --g-color-2: #90d7e5;
  --g-color-3: #9d96f1;
  --g-color-4: #e196ea;
  --g-color-5: #ffe3cc;
  --g-center-x: var(--mouse-x, 50%);
  --g-center-y: var(--mouse-y, 50%);
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Lato', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

.innerGrid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.bgGradient {
  overflow: hidden;
  background: linear-gradient(var(--g-angle), var(--g-color-1), var(--g-color-2), var(--g-color-3), var(--g-color-4), var(--g-color-5), var(--g-color-1), var(--g-color-2), var(--g-color-3), var(--g-color-4), var(--g-color-5)) fixed;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}