@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+SC:wght@100;300;500;700;900&family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap');


:root {
  --primary-color: #0d930d;
  --app-padding: 12px;
  --text-body-color: #000;
  --text-title-color: #000;
  --g-color-1: #ffffff;
  --g-color-2: #45ead7;
  --g-color-3: #877fee;
  --g-color-4: #f1499c;
  --g-color-5: #e7d85c;
  --g-color-6: #66f647;
  --g-color-7: #45ead7;
  --g-center-x: var(--mouse-x, 50%);
  --g-center-y: var(--mouse-y, 50%);
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Lato', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

.bigGrid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

}

.innerGrid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1520px) {
    padding: 0 20px;
  }
}

.bgGradient {
  overflow: hidden;
  background-color:#99fff8;
  background-image:
          radial-gradient(at 64% 96%, hsla(44,66%,75%,1) 0px, transparent 50%),
          radial-gradient(at 91% 8%, hsla(143,82%,70%,1) 0px, transparent 50%),
          radial-gradient(at 25% 89%, hsla(218,67%,79%,1) 0px, transparent 50%),
          radial-gradient(at 94% 38%, hsla(49,94%,79%,1) 0px, transparent 50%),
          radial-gradient(at 61% 26%, hsla(46,96%,79%,1) 0px, transparent 50%),
          radial-gradient(at 43% 10%, hsla(258,83%,66%,1) 0px, transparent 50%),
          radial-gradient(at 58% 63%, hsla(331,99%,70%,1) 0px, transparent 50%);
  background-size: 300vw 300vh;
  animation: gradient 5s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 0 20%;
  }
}